section {
  font-family: 'Doppio One', sans-serif;
  border-bottom: 5px solid black;
}
section h1 {
  font-size: 60px;
  margin-bottom:20px;
  @media (min-width: 1200px) {
    font-size: 150px;
  }
}

#page-background-outer {
  #page-background-inner {
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px;
    text-align: center;
    border: 1px solid red;
    height: 500px;
    background: white;
  }
}

#hero-section {
  padding: 20px;
  text-align: center;
  background: lightblue url('../images/mountains5.png') no-repeat;
  background-size: cover;
  height: 400px;
}

#overview-section {
  background: white;
  text-align: center;
  padding-bottom: 30px;
  p {
    font-size: 2em;
    @media (min-width: 1200px) {
      font-size: 3em;
    }
  }
  ul {
    padding-left:0;
    margin: 30px 0;
    li {
      display: inline;
      list-style-type: none;
      font-size: 35px;
      margin: 0 25px;
      .icon-div {
        display: inline-block;
        margin-bottom: 50px;
        @media (min-width: 1200px) {
          margin-bottom: 10px;
        }
      }
    }
  }
  .technologies {
    ul {
      li {
        margin: 0;
        img {
          margin:5px;
          height: 50px;
        }
      }
    }
  }
  .code-example {
    img {
      display: none;
      @media (min-width: 768px) {
        display: block;
        width: 100%;
      }
    }
  }
}

#experience-section {
  background: lightskyblue;
  text-align: center;
  .detail-body {
    border-top: 5px solid black;
    background: white;
    padding: 20px;
    img {
      width: 75%;
    }
  }
}

#about-section {
  background: lightcoral;
  text-align: center;
  .detail-about {
    border-top: 5px solid black;
    background: white;
    padding: 20px;
    img {
      width: 100%;
    }
  }
}

#contact-section {
  background: lightgrey;
  text-align: center;
}

//BOOTSTRAP MODS
.modal-body {
  img {
    width: 100%;
  }
  .nav {
    text-align: center;
    i {
      margin: 0 15px;
      cursor: pointer;
    }
  }
}
.modal-footer {

}