section {
  font-family: 'Doppio One', sans-serif;
  border-bottom: 5px solid black;
}
section {
  h1 {
    font-size: 50px;
    margin-bottom:20px;
    @media (min-width: 960px) {
      font-size: 130px;
    }
  }
  h2 {
    font-size: 40px;
  }
}

#page-background-outer {
  #page-background-inner {
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px;
    text-align: center;
    border: 1px solid red;
    height: 500px;
    background: white;
  }
}

#hero-section {
  padding: 20px;
  text-align: center;
  background: lightblue url('../images/mountains5.png') no-repeat;
  background-size: cover;
  background-position: center top;
  height: 400px;
  .img-container {
    margin-top: 30px;
    width: 300px;
    height: 290px;
    display: inline-block;
    background: rgba(210,210,210,0.9);
    border-radius: 50%;
    img {
      width: 100%;
      margin-top: -3px;
    }
  }
}

#overview-section {
  background: white;
  text-align: center;
  padding-bottom: 30px;
  p {
    font-size: 2em;
    @media (min-width: 960px) {
      font-size: 3em;
    }
  }
  ul {
    padding-left:0;
    margin: 30px 0;
    li {
      display: inline;
      list-style-type: none;
      font-size: 35px;
      margin: 0 25px;
      .icon-div {
        display: inline-block;
        margin-bottom: 50px;
        @media (min-width: 960px) {
          margin-bottom: 10px;
        }
      }
    }
  }
  .technologies {
    ul {
      li {
        margin: 0;
        img {
          margin:5px;
          height: 50px;
        }
      }
    }
  }
}

#experience-section {
  h1 {
    text-align: center;
  }
  text-align: center;
  background: lightskyblue;
  a {
    text-decoration: none;
    cursor: pointer;
    color: black;
  }

  .detail-body {
    // text-align: left;
    border-top: 5px solid black;
    background: white;
    padding: 20px;
    .row {
      @media (min-width: 960px) {
        margin-top: 30px;
      }
    }
    p {
      text-align: left;
      margin-top: 20px;
    }
    img {
      width: 75%;
      cursor: pointer;
    }
  }
  .exp-item {
    font-size: 3em;
    .sub-item {
      text-align: center;
      img {
        width: 15%;
        margin-top: -15px;
      }
      span {
        font-size: .8em;
      }
    }
    @media (min-width: 960px) {
      font-size: 5em;
    }
  }
}

#about-section {
  background: lightcoral;
  text-align: center;
  .detail-about {
    font-size: 1.2em;
    border-top: 5px solid black;
    background: white;
    padding: 20px;
    .code-example {
      img {
        display: none;
        @media (min-width: 768px) {
          display: block;
          width: 100%;
        }
      }
    }
    p {
      text-align: left;
      margin-bottom: 20px;
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
  }
}

#contact-section {
  background: lightgrey;
  text-align: center;
  .contact-form {
    background: white;
    border-top: 5px solid black;
    form {
      margin: 30px 0;
      label {
        float: left;
      }
      textarea {
          resize: none;
      }
    }
  }
}

#footer-section {
  padding: 20px 0;
  text-align: center;
  border-bottom: none;
  background: lightsalmon;
}

//BOOTSTRAP MODS
.modal-dialog {
  @media (min-width: 960px) {
    width: 800px !important;
  }
}
.modal-body {
  img {
    width: 100%;
  }
  .nav {
    text-align: center;
    i {
      margin: 0 30px;
      cursor: pointer;
    }
  }
}
