<!DOCTYPE html>
<html ng-app="application">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="app/assets/css/style.min.css">
    <link rel="stylesheet" type="text/css" href="app/assets/css/thirdParty.min.css">
    <link href='https://fonts.googleapis.com/css?family=Doppio+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body ng-controller="mainController">
<section id="hero-section" ng-style="{'background-color': bgColor}">
  <div class="img-container"><img ng-src="app/assets/images/aboutShawn.png"></div>
</section>
<section id="overview-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="overview-section-skills">
                    <h1>WEB</h1>
                    <div class="col-sm-3 col-xs-6 icon-div">
                        <i class="fa fa-code fa-5x"></i>
                        <p>Developer</p>
                    </div>
                    <div class="col-sm-3 col-xs-6 icon-div">
                        <i class="fa fa-object-ungroup fa-5x"></i>
                        <p>Designer</p>
                    </div>
                    <div class="col-sm-3 col-xs-6 icon-div">
                        <i class="fa fa-sitemap fa-5x"></i>
                        <p>Architect</p>
                    </div>
                    <div class="col-sm-3 col-xs-6 icon-div">
                        <i class="fa fa-cogs fa-5x"></i>
                        <p>Engineer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="technologies">
                    <ul>
                        <li><img ng-src="app/assets/images/angular.png"></li>
                        <li><img ng-src="app/assets/images/mongo.png"></li>
                        <!-- <li><img ng-src="app/assets/images/react.png"></li> -->
                        <li><img ng-src="app/assets/images/git.png"></li>
                        <li><img ng-src="app/assets/images/yo.png"></li>
                        <!-- <li><img ng-src="app/assets/images/bootstrap.png"></li> -->
                        <li><img ng-src="app/assets/images/ruby.png"></li>
                        <li><img ng-src="app/assets/images/npm.png"></li>
                        <li><img ng-src="app/assets/images/sass.png"></li>
                        <li><img ng-src="app/assets/images/github.png"></li>
                        <li><img ng-src="app/assets/images/node.png"></li>
                        <li><img ng-src="app/assets/images/bower.png"></li>
                        <li><img ng-src="app/assets/images/gulp.png"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about-section">
    <div class="container">
        <h1>ABOUT ME</h1>
    </div>
    <div class="detail-about">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <h2>Bio</h2>
              <p>
                Hi - My name is Shawn. I am a full-stack web developer with a healthy addiction to clean,
                modular code. While javascript is generally my mainstay, I have dabbled across
                many web application technologies and frameworks in both work and leisure. I enjoy
                keeping up with the evolving tech world and am constantly learning and
                implementing new technologies, frameworks, and features in my projects.
              </p>
            </div>
            <div class="col-sm-6">
              <h2>Attributes</h2>
              <div>
                <ul>
                  <li>Javascript is My Middle Name</li>
                  <li>Agile / Scrum Methodology</li>
                  <li>Front-End Focused; Full-Stack Capability</li>
                  <li>Reusable Web Components</li>
                  <li>Project Management / Leadership</li>
                  <li>Lifelong Student</li>
                </ul>
              </div>
            </div>
          </div>
            <div class="row">
              <div class="col-sm-12 code-example">
                  <img ng-src="app/assets/images/code.png">
              </div>
            </div>
        </div>
    </div>
</section>
<section id="experience-section">
    <div class="container">
        <div class="col-sm-12">
            <h1>EXPERIENCE</h1>
        </div>
    </div>
    <div class="detail-body">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <a data-toggle="modal" data-target="#experienceModal" ng-click="invokeModal('capitalOne')">
                  <img ng-src="app/assets/images/capitalone.png">
              </a>
            </div>
            <div class="col-sm-6">
              <p>
                  I have been working at Caital One for 4 years and am currently the lead front-end
                  engineer for Mortgage, Refinance, & Home Equity. Our application was built around on-the-fly
                  customization and editing capabilities. This enables business owners to update content rapidly
                  and further enhance the user experience.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
                <a data-toggle="modal" data-target="#experienceModal" ng-click="invokeModal('sideProjects')">
                    <div class="exp-item">ON THE SIDE</div>
                </a>
            </div>
            <div class="col-sm-6">
              <p>
                In addition to my 9-5, I am always experimenting with budding technologies, new frameworks,
                and whatever ideas come to mind (both good and bad). Along with hosting this site, I utilize
                github to house these projects.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="exp-item">
                <div class="sub-item">
                  <span><img ng-src="app/assets/images/github.png"></span>
                  <span>GITHUB</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="exp-item">
                <div class="sub-item">
                  <span><img ng-src="app/assets/images/resume.jpg"></span>
                  <span>RESUME</span>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>
<section id="contact-section">
    <div class="container">
        <h1>CONTACT</h1>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="experienceModal" tabindex="-1" role="dialog" aria-labelledby="experienceModal" ng-if="currentGallery">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{currentGallery.title}}</h4>
            </div>
            <div class="modal-body">
                <p>
                    Description of this particular piece of work
                </p>
                <img ng-src="{{currentGallery.image}}">
                <div class="nav">
                    <i class="fa fa-arrow-circle-o-left fa-3x" ng-click="goBack(currentGallery.index)"></i>
                    <i class="fa fa-arrow-circle-o-right fa-3x" ng-click="goForward(currentGallery.index)"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="app/assets/js/thirdParty.min.js"></script>
<script type="text/javascript" src="app/assets/js/main.min.js"></script>
<script type="text/javascript" src="app/assets/js/ui-bootstrap-0.13.0.min.js"></script>
<script type="text/javascript" src="app/assets/js/ui-bootstrap-tpls-0.13.0.min.js"></script>
</body>
</html>
