<!DOCTYPE html>
<html ng-app="application">
<head>
    <link rel="stylesheet" type="text/css" href="app/assets/css/style.min.css">
    <link rel="stylesheet" type="text/css" href="app/assets/css/thirdParty.min.css">
    <link href='https://fonts.googleapis.com/css?family=Electrolize' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Doppio+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="app/assets/css/angular-bootstrap-lightbox.css" rel="stylesheet">
</head>
<body ng-controller="mainController">
<section id="hero-section" ng-style="{'background-color': bgColor}"></section>
<section id="overview-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="overview-section-skills">
                    <h1>WEB</h1>
                    <div class="col-sm-3 col-xs-6 icon-div">
                        <i class="fa fa-code fa-5x"></i>
                        <p>Developer</p>
                    </div>
                    <div class="col-sm-3 col-xs-6 icon-div">
                        <i class="fa fa-object-ungroup fa-5x"></i>
                        <p>Designer</p>
                    </div>
                    <div class="col-sm-3 col-xs-6 icon-div">
                        <i class="fa fa-sitemap fa-5x"></i>
                        <p>Architect</p>
                    </div>
                    <div class="col-sm-3 col-xs-6 icon-div">
                        <i class="fa fa-cogs fa-5x"></i>
                        <p>Engineer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="technologies">
                    <ul>
                        <li><img src="app/assets/images/angular.png"></li>
                        <li><img src="app/assets/images/mongo.png"></li>
                        <li><img src="app/assets/images/react.png"></li>
                        <li><img src="app/assets/images/git.png"></li>
                        <li><img src="app/assets/images/yo.png"></li>
                        <li><img src="app/assets/images/bootstrap.png"></li>
                        <li><img src="app/assets/images/npm.png"></li>
                        <li><img src="app/assets/images/sass.png"></li>
                        <li><img src="app/assets/images/github.png"></li>
                        <li><img src="app/assets/images/node.png"></li>
                        <li><img src="app/assets/images/jasmine.png"></li>
                        <li><img src="app/assets/images/bower.png"></li>
                        <li><img src="app/assets/images/gulp.png"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about-section">
    <div class="container">
        <h1>ABOUT ME</h1>
    </div>
    <div class="detail-about">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <p>
                        A description of me and who I am
                    </p>
                </div>
                <div class="col-sm-12 code-example">
                    <img src="app/assets/images/code.png">
                </div>
            </div>
        </div>
    </div>
</section>
<section id="experience-section">
    <div class="container">
        <div class="col-sm-12">
            <h1>EXPERIENCE</h1>
        </div>
    </div>
    <div class="detail-body">
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <p>
                    A description of what I want to put here for my work experience and how I am proud of myself.
                    I want to see how far the text goes and if the container contains it appropriately.
                </p>
            </div>
            <div class="col-sm-6">
                <h2>Capital One</h2>
                <a data-toggle="modal" data-target="#experienceModal" ng-click="invokeModal('capitalOne')">
                    <img src="app/assets/images/mortgageHome.png">
                </a>
            </div>
            <div class="col-sm-6">
                <h2>Side Projects</h2>
                <a data-toggle="modal" data-target="#experienceModal" ng-click="invokeModal('sideProjects')">
                    <img src="app/assets/images/backpackHiker.png">
                </a>
            </div>
            <div class="col-sm-6">
                <h2>RESUME</h2>
                <img src="app/assets/images/resume.png">
            </div>
            <div class="col-sm-6">
                <h2>GITHUB</h2>
                <img src="app/assets/images/mortgage-calculator.png">
            </div>
        </div>
    </div>
</section>
<section id="contact-section">
    <div class="container">
        <h1>CONTACT</h1>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="experienceModal" tabindex="-1" role="dialog" aria-labelledby="experienceModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{currentGallery.title}}</h4>
            </div>
            <div class="modal-body">
                <p>
                    Description of this particular piece of work
                </p>
                <img src="{{currentGallery.image}}">
                <div class="nav">
                    <i class="fa fa-arrow-circle-o-left fa-3x" ng-click="goBack(currentGallery.index)"></i>
                    <i class="fa fa-arrow-circle-o-right fa-3x" ng-click="goForward(currentGallery.index)"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="app/assets/js/thirdParty.min.js"></script>
<script type="text/javascript" src="app/assets/js/angular-bootstrap-lightbox.min.js"></script>
<script type="text/javascript" src="app/assets/js/main.min.js"></script>
<script type="text/javascript" src="app/assets/js/ui-bootstrap-0.13.0.min.js"></script>
<script type="text/javascript" src="app/assets/js/ui-bootstrap-tpls-0.13.0.min.js"></script>
</body>
</html>